*{
    box-sizing: border-box;
}
body{
    background-color: #edf0f7;
}

.container1{
    width: 770px;
    height: 442px;
    border-radius: 20px;
    background-color: #ffffff;
    margin: 44px auto;
}

.echo_photo{
    width: 200.5px;
    height: 370.98px;
    margin-left: 89.5px;
    margin-top: 35px;
}

.header{
    font-weight: 500;
    font-size: 48px;
    color: #15181A;
    text-align: center;
    margin-top: -355px;
    margin-left: 110px;
}

.container2{
    margin-left: 620px;
    margin-top: -380px;
}
.paragraph{
    font-weight: 400;
    font-size: 18px;
    color: #858997;
}
.price{
    font-weight: 400;
    font-size: 24px;
    color:#858997;
    margin-top: 15px;
}
.paragraph2{
    font-weight: 400;
    font-size: 16px;
    color: #141821;
    margin-top: 24px;
}




.Box{
    margin-top: 12px;
    display: flex;
    justify-content: center;
    margin-left: 240px;
}


.color{
    margin-left: 40px;
    margin-top: -27px;
    font-weight: 400;
    font-size: 14px;
    color: #141821;
}

.Box1{
    margin-right: 20px;
}



.paragraph3{
    width: 88px;
    height: 24px;
    margin-left: 622px;
    margin-top: 30px;
}

.photo{
    width: 10px;
    height: 8px;
    background-color: #ffffff;
    margin-left: 635px;
    margin-top: -25px;
}

.Box3{
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-top: -5px;
}

.Box4{
    width: 99px;
    height: 66px;
    font-weight: 700;
    font-size: 14px;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid;
    text-align: center;
    background: linear-gradient(180deg, #E33C7A 0%, #c036D0 100%);
}


.Box5{
    width: 99px;
    height: 66px;
    margin-left: 15px;
    border: 2px solid #c3c6d1;
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #141821;

}
.Box6{
    width: 99px;
    height: 66px;
    margin-left: 15px;
    border: 2px solid #c3c6d1;
    border-radius: 5px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    color: #141821;
}









